
<div class="container">
  <h1>Restaurants</h1>

  <form action="/" method="get" accept-charset="UTF-8" >
    <input id="search" name="search" type="text" value="<%=@search%>" place-holder="location,type" />
    <input  type="submit" value="submit" />
    <%if @search.present?%>
    <h5>Results for "<%=@search%>"</h5>
    <%end%>
  </form>

  <div class="row">

    <% @restaurants.each do |restaurant| %>

    <div class="col-sm-4 mb-2">

      <div class="card">
        <div class="card-block">
          <div class="card-title">
            <h4 ><%= link_to restaurant.name, restaurant_path(id:restaurant.reference_id) %></h4>
            <span><%=restaurant.restaurant_type %></span>
            <p>
              <%=restaurant.location%>
            </p>
          </div>
          <p class="card-text">
            <ul>
              <% restaurant.categories.first(5).each do |category| %>
              <li><%= category.name %></li>
              <% end %>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <% end %>

  </div>

</div>


