<h1><%=@restaurant.name.capitalize%></h1>
<h5><span><%=@restaurant.location %></span></h5>
<p><%=@restaurant.about%></p>

<ul>
  <% @categories.each do |category| %>
  <li><%= category.name %></li>
  <ol>
    <% category.items.each do |item| %>

    <li><%= item.name %><br>
      <%= item.price %><br>
      <%= item.description %></li>
      <% end %>

    </ol>

    <% end %>
  </ul>
