<div class="container center">
  <h6><%= @item.restaurant.restaurant_type%></h6>
  <h4 ><%= link_to @item.restaurant.name, restaurant_path(id:@item.restaurant.reference_id) %></h4>
  <h5><%= @item.restaurant.location%></h5>
  <h1><%= @item.name%></h1>
  <h3><%= @item.description%></h3>
  <h2>Amount - ₹<%= @item.price%></h2>

</div>